<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Hello World - Input Form</title>
</h:head>

<body>
	<h1>กรอกลงไปซิ แล้วจงคลิก</h1>
	<h:form>
		<h:inputText id="name" value="#{theUserName}"
			a:placeholder="What's your name?" />
		<h:commandButton value="Submit" action="myresponse" />
	</h:form>
</body>

</html>
